Flask==2.2.2
Flask-Cors==5.0.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.0.3
Jinja2==3.1.6
MarkupSafe==3.0.2
Pillow==11.1.0
PyTweening==1.2.0
SQLAlchemy==2.0.39
Werkzeug==2.3.8
beautifulsoup4==4.13.3
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
packaging==24.2
requests==2.32.3
soupsieve==2.6
typing-extensions==4.12.2
urllib3==2.3.0
wikipedia==1.4.0

pyautogui==0.9.54
pywhatkit==5.4
